# Problem 1

question :
Based on your understanding of the data, what kind of business is this company in?

In [11]:
import pandas as pd
df = pd.read_csv('OnlineRetail.csv',header=0,encoding = 'unicode_escape')

In [12]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [16]:
df.shape

(541909, 8)

In [17]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [19]:
df['InvoiceDate'].value_counts()

31-10-2011 14:41    1114
08-12-2011 09:28     749
09-12-2011 10:03     731
05-12-2011 17:24     721
29-06-2011 15:58     705
30-11-2011 15:13     687
08-12-2011 09:20     676
06-12-2010 16:57     675
05-12-2011 17:28     662
09-12-2010 14:09     652
02-12-2011 16:39     651
01-12-2011 16:22     645
08-12-2011 16:30     635
06-12-2011 16:26     629
24-11-2011 09:21     625
10-12-2010 14:59     621
24-11-2011 09:26     606
07-12-2010 15:28     601
06-12-2010 09:58     597
03-12-2010 11:36     593
15-11-2011 16:57     593
01-12-2010 17:06     592
08-12-2010 14:25     591
16-11-2011 15:16     585
29-11-2011 16:33     578
17-11-2011 15:17     572
06-12-2010 10:08     568
18-11-2011 15:59     561
15-11-2011 17:00     552
16-11-2011 15:23     544
                    ...
22-09-2011 15:57       1
09-09-2011 11:59       1
02-03-2011 12:07       1
09-05-2011 12:44       1
27-04-2011 16:19       1
11-09-2011 12:15       1
02-11-2011 11:13       1
11-11-2011 10:55       1
06-12-2011 16:55       1
01-06-2011 16:15       1
13-10-2011 17:46       1
01-07-2011 14:50       1
15-02-2011 15:41       1
25-10-2011 16:20       1
10-02-2011 17:50       1
05-09-2011 10:34       1
16-10-2011 10:50       1
28-01-2011 14:46       1
22-11-2011 15:50       1
27-09-2011 16:45       1
08-12-2010 14:10       1
22-09-2011 10:32       1
23-11-2011 12:59       1
08-12-2010 14:20       1
01-06-2011 16:21       1
02-06-2011 17:55       1
12-10-2011 13:46       1
08-12-2011 13:15       1
09-06-2011 19:24       1
10-12-2010 10:29       1
Name: InvoiceDate, Length: 23260, dtype: int64

# Answers

The dataset we are using comes from OnlineRetail.csv.It contains all the transactions occurring between 2010 and 2011 for a UK-based and registered online retail.It's a large retailers which stores the data of 'InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate','UnitPrice', 'CustomerID', 'Country'.
    
 company is in online retail business